extends ../base.pug

block variables     
    - var template = "detail"

block content 
    .detail(data-background="#b48c81" data-color="#F9F1E7") 
        .detail_wrapper 
            figure.detail_media 
                img.detail_media_image(alt=product.data.image.alt data-src=product.data.image.url)
            
            .detail_information 
                p.detail_information_collection=product.data.collection.data.title

                h1.detail_information_title=product.data.title

                .detail_information_content
                    .detail_information_highlights
                        each highlight in product.data.highlights
                            p.detail_information_highlight
                                if highlight.highlights_icon.toLowerCase() == "arrow"
                                    svg.detail_information_highlight_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.2 41.2")
                                        path(fill="none" stroke="currentColor" d="M20.6.6c11.05,0,20,8.95,20,20s-8.95,20-20,20S.6,31.65.6,20.6,9.55.6,20.6.6Z")
                                        path(fill="currentColor" d="M25.52,36.67c-1.8-.73-3.57-1.44-5.33-2.17-.21-.08-.39-.25-.55-.4-3.54-3.24-7.07-6.48-10.61-9.71-.19-.18-.23-.31-.12-.55,1.75-3.65,3.49-7.31,5.23-10.97.31-.65.6-1.31.93-1.95.14-.27.31-.54.52-.76,1.24-1.23,2.5-2.44,3.75-3.66.08-.08.16-.14.26-.23.57.52,1.12,1.03,1.68,1.55,3.56,3.29,7.12,6.57,10.68,9.86.53.49,1.06.98,1.59,1.46.11.1.19.17.1.35-1.77,3.73-3.54,7.47-5.3,11.2-.92,1.95-1.84,3.9-2.77,5.84-.02.04-.05.09-.08.14ZM12.41,23.48c.29-.05.49-.09.69-.13,2.17-.42,4.33-.83,6.49-1.27.3-.06.5,0,.72.2,1.18,1.1,2.38,2.19,3.57,3.29.8.74,1.6,1.47,2.39,2.22.1.09.19.27.17.39-.26,1.54-.55,3.08-.83,4.62-.12.68-.25,1.37-.37,2.05.02,0,.05.02.07.03.05-.08.1-.16.14-.24.66-1.38,1.33-2.76,1.98-4.14.94-1.99,1.87-3.98,2.81-5.97.76-1.61,1.52-3.22,2.28-4.82.07-.14.06-.22-.06-.33-1.08-1-2.16-2-3.24-3-1.46-1.34-2.92-2.68-4.38-4.02-1.49-1.37-2.97-2.75-4.45-4.12-.16-.15-.33-.28-.53-.45-2.49,5.24-4.96,10.42-7.46,15.7Z")
                                        path(fill="#b3b8c2" d="M12.41,23.48c2.51-5.27,4.97-10.46,7.46-15.7.2.17.37.31.53.45,1.49,1.37,2.97,2.75,4.45,4.12,1.46,1.34,2.92,2.68,4.38,4.02,1.08,1,2.16,2.01,3.24,3,.12.11.12.19.06.33-.77,1.61-1.53,3.22-2.28,4.82-.94,1.99-1.87,3.98-2.81,5.97-.66,1.38-1.32,2.76-1.98,4.14-.04.08-.09.16-.14.24-.02,0-.05-.02-.07-.03.12-.68.25-1.37.37-2.05.28-1.54.56-3.08.83-4.62.02-.12-.07-.3-.17-.39-.79-.75-1.59-1.49-2.39-2.22-1.19-1.1-2.38-2.18-3.57-3.29-.22-.2-.42-.26-.72-.2-2.16.44-4.33.85-6.49,1.27-.2.04-.4.07-.69.13Z")
                                else
                                    svg.detail_information_highlight_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.2 41.2")
                                        path(fill="none" d="M20.6.6c11.05,0,20,8.95,20,20s-8.95,20-20,20S.6,31.65.6,20.6,9.55.6,20.6.6Z")
                                        path(fill="currentColor" d="M31.15,33.11l-9.03-4.32-6.9,7.26c-1.27,1.33-3.5.27-3.26-1.56l1.31-9.93-9.03-4.32c-1.66-.79-1.34-3.25.47-3.58l9.84-1.82,1.31-9.93c.24-1.82,2.68-2.27,3.55-.66l4.77,8.8,9.84-1.82c1.81-.33,2.99,1.84,1.72,3.18l-6.9,7.26,4.77,8.8c.88,1.62-.83,3.41-2.49,2.62Z")

                                span.detail_information_highlight_text!=highlight.highlights_text.replace(/\n/, '<br>')
                                
                    .detail_information_list
                        each item in product.data.informations
                            p.detail_information_item
                                strong.detail_information_item_title=item.informations_label
                                span.detail_information_item_description=item.informations_description
                    
                    a.detail_information_link(href=product.data.link_url.url target="_blank")=product.data.link_text

        a.detail_button(href=Link(home.data.collections)) Close
            svg.detail_button_icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151.2 66.2")
                path(stroke="currentColor" fill="none" d="M150.6,33.28c0,5.24-2.71,10.36-7.8,14.74-2.91,2.51-6.59,4.6-10.83,6.69-3.35,1.64-7.06,3.36-11.1,4.67-3.52,1.15-7.3,1.95-11.26,2.82-3.61.79-7.38,1.71-11.29,2.26-3.66.5-7.46.74-11.34.99s-7.49.08-11.35.08-7.64-.16-11.34-.4c-3.88-.26-7.68-.17-11.34-.66-3.92-.53-7.7-1.17-11.31-1.96-3.96-.87-7.73-1.91-11.25-3.06-4.05-1.33-7.74-3.16-11.09-4.8-4.24-2.08-7.92-4.18-10.83-6.68-5.1-4.39-7.88-9.46-7.88-14.69s2.85-9.96,7.94-14.34c2.91-2.51,6.48-5.2,10.73-7.28,3.35-1.64,7.1-2.92,11.14-4.25,3.52-1.15,7.29-1.98,11.25-2.85,3.61-.79,7.38-1.59,11.29-2.13,3.66-.5,7.45-.71,11.33-.96s7.49-.88,11.34-.88,7.64.6,11.34.84c3.88.26,7.67.5,11.33,1,3.92.53,7.69,1.24,11.3,2.03,3.96.87,7.74,1.7,11.26,2.85,4.05,1.33,7.75,2.98,11.1,4.62,4.24,2.08,7.89,4.32,10.8,6.81,5.09,4.38,7.84,9.3,7.84,14.54h0Z")
                path.detail_button_icon_path(stroke="#FFC400" fill="none" d="M150.6,33.28c0,5.24-2.71,10.36-7.8,14.74-2.91,2.51-6.59,4.6-10.83,6.69-3.35,1.64-7.06,3.36-11.1,4.67-3.52,1.15-7.3,1.95-11.26,2.82-3.61.79-7.38,1.71-11.29,2.26-3.66.5-7.46.74-11.34.99s-7.49.08-11.35.08-7.64-.16-11.34-.4c-3.88-.26-7.68-.17-11.34-.66-3.92-.53-7.7-1.17-11.31-1.96-3.96-.87-7.73-1.91-11.25-3.06-4.05-1.33-7.74-3.16-11.09-4.8-4.24-2.08-7.92-4.18-10.83-6.68-5.1-4.39-7.88-9.46-7.88-14.69s2.85-9.96,7.94-14.34c2.91-2.51,6.48-5.2,10.73-7.28,3.35-1.64,7.1-2.92,11.14-4.25,3.52-1.15,7.29-1.98,11.25-2.85,3.61-.79,7.38-1.59,11.29-2.13,3.66-.5,7.45-.71,11.33-.96s7.49-.88,11.34-.88,7.64.6,11.34.84c3.88.26,7.67.5,11.33,1,3.92.53,7.69,1.24,11.3,2.03,3.96.87,7.74,1.7,11.26,2.85,4.05,1.33,7.75,2.98,11.1,4.62,4.24,2.08,7.89,4.32,10.8,6.81,5.09,4.38,7.84,9.3,7.84,14.54h0Z")

